* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
}
header {
  background: #f7b600;
  text-align: center;
  padding: 10px;
}
h1 {
  padding: 20px;
  font-size: 30px;
}

header a {
  text-decoration: none;
  padding: 10px;
}

a.branco:hover {
  background: white;
  color: #000000;
  padding: 10px;
}
.branco {
  color: #ffffff;
}

main {
  width: 900px;
  margin: 10px auto;
}
.post-area {
  width: 600px;

  margin-bottom: 10px;
  float: left;
}
.noticia {
  background: white;
  padding-left: 5px;
  margin-bottom: 15px# TecBlog

  ------------
  
  
  O tecblog é um blog de notícias fictícios, criando como desafio de fixação de HTML e CSS, focando muito em posicionamento de elementos de elementos.
  
  ------------
  
  
  ![](https://i.picasion.com/pic90/bf891a84439385826fe2b538b119f847.gif)
  
  ------------
  
  
  
  ## :computer: TECH
  #### :arrow_right: HTML
  #### :arrow_right: CSS
  
  Esse pequeno projeto foi para a melhor fixação de sobre o conteudo de HTML e CSS focado no posicionamento dos elementos dentro da página
  
  ------------
  ## About
  Esse projeto foi desenvolvido durante o curso de desenovlimento Web do Jamilto Damasceno disponível na udemy.
  
  ------------;
}

h2 {
  color: #f7b600;
  padding-top: 10px;
  padding-left: 5px;
}
.autor {
  font-size: 12px;
  padding-left: 7px;
}
img {
  width: 550px;
  margin-top: 10px;
  margin-left: 18px;
}
p {
  width: 550px;
  text-align: justify;
  padding: 10px 15px;
}

a.veja-mais {
  color: #f7b600;
  font-size: 16px;
  margin-bottom: 5px;
  padding-left: 15px;
  padding-bottom: 10px;
}

.post-recent {
  float: right;
  background: white;
  width: 230px;
  padding: 10px;
  margin-bottom: 5px;
}
h3 {
  background: #ccc;
  padding: 5px;
}

p.post {
  width: 200px;
  font-size: 16px;
  margin-left: 2px;
}
.post-recent a {
  margin: 0;
}

.veja-mais {
  display: block;
}

footer {
  text-align: center;
  background: gray;
  width: 860px;
  margin: 0 auto;
  padding: 10px;
  clear: both;
}
